 <div class="container-fluid">
 <div class="banner">
     <div class="container">
         <h3><strong><%= link_to "Blog", blog_path %></strong> <strong><%= link_to "Contact", contact_path %></strong></h3>
        <h1> <strong><%= link_to "Actualité", actualitys_path %></strong>  Nouveauté </h1>
     </div>
</div>
</div>