 <div class="banner" style="background-color: blue">
     <div class="container">
         <h3><strong><%= link_to "Blog", blog_path %></strong> <strong><%= link_to "Contact", contact_path %></strong></h3>
        <h1> <strong><%= link_to "Achat", propertys_path %></strong> Actualité Nouveauté </h1>
     </div>
</div>