<h2><%= link_to "back", propertys_path %> </h2>
.<form class="form" id="form-contact">
  <h2 id="h2-contact">CONTACT US</h2>
  <p type="Nom:"><input placeholder="Nom"></input></p>
  <p type="Email:"><input placeholder="Email"></input></p>
  <p type="Message:"><input placeholder="Message"></input></p>
  <button>Send Message</button>
  <div id="bar">
    <h6>07.23.12.25.39</h6>
    <h6> immo+@mail.com </h6>
  </div>
</form>
