 <div class="banner" style="background-color:  #59ABE3">
     <div class="container">
        <h3><strong><%= link_to "Blog", blog_path %> </strong><strong><%= link_to "Contact", contact_path %></strong></h3>
        <h1> <strong><%= link_to "Achat", propertys_path %></strong> location catégorie3 Catégorie4 </h1>
     </div>
</div>