<body id="body-contact">
    <h5><%= link_to "Retour", nouvelles_path,  id: "back"  %> </h5>
    <div class="container" id="cadreblog">
       <%= image_tag "new.jpg", id: "imgactu"%>
        <h1> <%= @nouvelle.name %> <h1>
        <p id="texte"> <%= @nouvelle.texte %> </p>
    </div>
</body>
