    <div class="container-fluid">
     <div class="banner" style="background-color:  #59ABE3">
     <div class="container">
         <h3><strong><%= link_to "Blog", blog_path %></strong> <strong><%= link_to "Contact", contact_path %></strong></h3>
        <h1> <strong><%= link_to "Actualité", actualitys_path, {:style=>'color: red;'} %></strong>  Nouveauté </h1>
     </div>
</div>
    <% @actualitys.each do |a| %>
  <div class="card-product">
    <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />
     <div class="card-product-infos">
      <p> <%= a.name %> </p>
    </div>
  </div>
     <% end %>
</div>