#blog{
  background-image: url(asset-path("fondblog.jpg"));
  background-size: cover;
  height: 100%;
  margin: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
#estimate-contact{
  background-image: url(asset-path("adobefume.jpeg"));
  background-size: cover;
  height: 100%;
  margin: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
#accueil{
  background-image: url(asset-path("adobeaccueil.jpeg"));
  background-size: cover;
  height: 100%;
  margin: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
