#blog{
  background-image: url(../assets/fondblog.jpg);
  background-size: cover;
  height: 100%;
  margin: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
#estimate-contact{
  background-image: url(../assets/adobefume.jpeg);
  background-size: cover;
  height: 100%;
  margin: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
