.banner {
    background-size: cover;
    background-position: center;
    padding: 12%;
    position: relative;
  }

  .banner h1 {
    color: white;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
    font-size: 32px;
    font-weight: bold;
    position: absolute;
    margin-top: 9%;
    margin-left: 10%;
  }
  .banner h2 {
    position: absolute;
    color: white;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
    font-size: 32px;
    font-weight: bold;
    margin-left: 10%;
  }
  .banner h3 {
    margin-right: 10px;
    color: white;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
    font-size: 32px;
    font-weight: bold;
    position:absolute;
    top:0;
    right:0;
  }
  .banner h4 {
    margin-left: 10px;
    color: white;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
    font-size: 32px;
    font-weight: bold;
    position:absolute;
    top:0;
    left:0;
  }
  .banner p {
    font-size: 20px;
    color: white;
    opacity: .7;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  }
  .banner a {
    color: white;
    display: inline;
  }
  .banner a:hover{
    text-decoration: none !important;
    color:rgba(255,255,255, 0.9);
  }
.banner .btn{
  position: absolute;
  width: 80px !important;
}
.search {
  margin-left: 10%;
  margin-top: 2% !important;
 position: absolute !important;
 width: 30%;
}