.container-boxes{
  margin: 0 auto;
  padding: 0;
  display:flex;
  justify-content: space-around;
  align-items: flex-end;
  max-width: 100%;
}

.box{
  border-radius: 8px;
  padding: 10px;
  border: solid 3px #9F98E8;
  box-shadow: 0 0 15px -5px #000;
  background-color: rgba(255, 255, 255, .7);
  justify-content: space-between;
  align-items: center;
  height: 40em;
  transition: all 250ms ease-out;
  margin: 10px;
}
.fa{
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  line-height: 1;
  font-weight: 900;
}
.box:hover{
  background: rgba(255,255,255,.5);
  transform: translateY(-5%);
}
.icon{
  font-size: 3rem;
  padding: 1rem;
}
.text{
  padding: .5rem;
}
.text p{
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 20;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}
@media (max-width: 1160px){
 .icon{
  font-size: 2rem;
  padding: 0.5rem;
}

.text h3{
  text-transform: uppercase;
  letter-spacing: 4px;
  margin-bottom: 0;
  font-size: 1rem;
}

.text p{
  margin-top: 1rem;
  line-height: 1.5rem;
  text-align: left;
  font-size: .8rem;

}
nav li a:hover{
  background: none;
  color: black;
}
}
@media (max-width: 850px){
  body{
    height: 100%;
  }
  .container-boxes{
    flex-direction: column;
  }
  .box:hover{
    background: rgba(255,255,255,.7);
    transform: none;
  }
  .titles h1{
    font-size: 3rem;
  }
}
