
.back{
  font-size: 2em;
}
.col p{
  margin: -15px;
  padding: 1rem;
  overflow: hidden;
  font-size: 16px;
  margin-top: -25px;
  text-align: justify;

}
.col-contact{
  height: 54em;
  width: 25em;
  right: 0;
  position: absolute;
  top: 1px;
  background: rgba(255, 255, 204,.7);
  padding: 15px;
  margin-right: 10px;
  box-shadow:0 0 40px -5px #000;
  border-radius: 8px;
  border: 3px solid #78788c;
}
.col-contact h1 {
  color: black;
  opacity: 0.8;
  font-size: 2em;
  font-family: 'Merriweather',sans-serif  !important;
  text-align: center;
}

.col-contact p {
  color: black;
  opacity: 0.8;
  font-size: 1.25em;
  font-family: 'Josefin Sans',sans-serif !important;
  margin: -20px 0 10px !important;
}
#back-show{
  margin-top: 10px;
  margin-left: 10px;
  color: #59abe3;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 26px;
  font-weight: bold;
  position:absolute;
  top:0;
  left:0;
}
#back-show:hover{
  text-decoration: none !important;
  color: rgba(  89, 171, 227, .7);
}
#avatar{
  position: relative;
  width: 150px;
  height: 150px;
  overflow: hidden;
  border-radius: 50%;
  object-fit: cover;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
#divflex{
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  width: 30%;
}
#divflex2{
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  width: 50%;
}
#divflex p{
  font-size: 1.25em;
}
#divflex2 p{
  font-size: 1.25em;
}

#flexprop{
  border: 3px solid #1e9afe;
  background: white;
  box-shadow: 2px 2px 15px #B1B1B1;
  border-radius: 8px;
  margin-top: 20px;
}
#flexlocate{
  border: 3px solid #60dfcd;
  background: white;
  box-shadow: 2px 2px 15px #B1B1B1;
  border-radius: 8px;
  margin-top: 20px;
}
#flexlot{
  border: 3px solid #42FCDB;
  background: white;
  box-shadow: 2px 2px 15px #B1B1B1;
  border-radius: 8px;
  margin-top: 20px;
}
textarea {
  background: none;
  width: 100%;
  margin-bottom: -10px !important;
}
#contact-property{
  border: 3px solid #1e9afe !important;
}
#contact-location{
  border: 3px solid #60dfcd !important;
}
#contact-lot{
  border: 3px solid #42FCDB !important;
}
