
.back{
  font-size: 2em;
}
.col p{
  margin: -15px;
  padding: 1rem;
  overflow: hidden;
  font-size: 16px;
  margin-top: -25px;
  text-align: justify;

}
.col-contact{
  height: 45em;
  width: 25em;
  right: 0;
  position: absolute;
  top: 3%;
  border: 3px solid #e6e6e6;
  background: #59ABE3;
  padding: 15px;
  margin-right: 10px;
  box-shadow: 2px 2px 15px #B1B1B1;
  border-radius: 8px;
  border: 3px solid #78788c;
  text-align: center;
}
.col-contact h1 {
  color: #4b4a4a;
  font-size: 2em;
  font-family: "roboto";
}

.col-contact p {
  color: #4b4a4a;
  font-size: 1.45em;
  font-family: "roboto";
  margin: -10px 0 10px !important;
}
#back-show{
  font-family: 'roboto';
  margin-top: 10px;
  margin-left: 10px;
  color: #59abe3;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 26px;
  font-weight: bold;
  position:absolute;
  top:0;
  left:0;
}
#back-show:hover{
  font-family: 'roboto';
  text-decoration: none !important;
  color: rgba(  89, 171, 227, .7);
}
#avatar{
  position: relative;
  width: 200px;
  height: 200px;
  overflow: hidden;
  border-radius: 50%;
  object-fit: cover;
}
#divflex{
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  width: 30%;
}
#divflex2{
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  width: 50%;
}
#divflex p{
  font-size: 1.25em;
}
#divflex2 p{
  font-size: 1.25em;
}

#flexprop{
  border: 3px solid #1e9afe;
  background: white;
  box-shadow: 2px 2px 15px #B1B1B1;
  border-radius: 8px;
}
#flexlocate{
  border: 3px solid #60dfcd;
  background: white;
  box-shadow: 2px 2px 15px #B1B1B1;
  border-radius: 8px;
}
#flexlot{
  border: 3px solid #42FCDB;
  background: white;
  box-shadow: 2px 2px 15px #B1B1B1;
  border-radius: 8px;
}
textarea {
    background: none;
    width: 100%;
  }
