
select{
    border: 1px solid #CCC;
    font-size: 14px;
    color: #5a5a5a;
    padding: 10px;
    width: 200px;
    border-radius: 8px;
}
option{
    font-family: 'Montserrat',sans-serif;
    border: 1px solid #CCC;
}
#form-estimate{
    width: 60em;
    height: 47em;
    background: #e6e6e6;
    border-radius: 8px;
    box-shadow: 0 0 40px -10px #000;
    margin: calc(50vh - 250px) auto;
    padding: 20px 30px;
    max-width: calc(100vw - 40px);
    box-sizing: border-box;
    font-family: 'Montserrat',sans-serif;
    position: relative;
}
#h2-estimate {
    margin-top :10px;
    padding-bottom: 10px;
    width: 350px;
    color: #78788c;
    border-bottom: 3px solid #78788c;
}
#bar-estimate{
    content:'Hi';
    position:absolute;
    top:-20px;
    right:-20px;
    background:#50505a;
    color:#fff;
    width:45em;
    padding:16px 4px 16px 45px;
    border-radius:6px;
    font-size:13px;
    box-shadow:10px 10px 40px -14px #000;
}