#images{
    padding-top: 3px;
    padding-bottom: 3px;
}
.zoom {
    height:400px;
    }
    .zoom p {
    text-align:center;
    }
    .zoom img {
    width:200px;
    height:200px;
    }
    .zoom img:hover {
    width:300px;
    height:350px;
    }