.tabs-underlined {
  display: flex;
  align-items: center;
  font-size: 2em !important;
}

.tabs-underlined .tab-underlined {
  color: white;
  padding: 8px;
  margin: 8px 16px;
  opacity: 1;
  font-weight: bold;
  cursor: pointer;
  text-decoration: none;
  border-bottom: 4px solid transparent;
  font-family: 'Merriweather',sans-serif  !important;
  font-size: 36px !important;
}
.tabs-underlined .tab-underlined:hover {
  opacity: 0.7
}

.tabs-underlined .tab-underlined.active {
  opacity: 1;
  border-bottom: 5px solid #1e9afe;
}
#uder2.active {
  opacity: 1;
  background-color: #60dfcd;
}
#uder3.active{
  opacity: 1;
  border-bottom: 5px solid #42FCDB;
}
#uder4.active{
  opacity: 1;
  border-bottom: 5px solid #93FB9D;
}
#uder5.active{
 opacity: 1;
 border-bottom: 5px solid #EC9F05;
}
#uder6.active{
 opacity: 1;
 border-bottom: 5px solid #FF4E00;
}
.list-inline{
  margin-top: 34%;
  text-align: center;
  margin-left: 30%;
}
@media (min-width: 1600px) {
  .list-inline {
    margin-top: 30%;
  }
}
#acc{
  bottom: 0;
  left: 0;
  position: absolute;
  padding: 3px;
  margin: 0px 16px;

}
#acc.active{
  opacity: 1;
  border-bottom: 5px solid #9F98E8;
}

