#map-container {
  height: 515px;
  width: 83em;
  border-radius: 8px;
  border-color: #fff;
  border-style: solid;
  box-shadow: 2px 2px 10px #B1B1B1;
  margin-top: 2%;
  border-width: 8px;
  margin-left: -30px;
}
#map {
  height: 500px;
  width: 100%;
}
#form-contact #map{
height: 350px;
    width: 100%;
}
